$celery: #96be50;
$white: #ffffff;
$boulder: #787878;
$siam: #5a6450;
$chelsea-cucumber: #78a04b;

$header-fg-color: #222222;
$header-bg-color: $chelsea-cucumber;

$main-fg-color: #222222;
$main-bg-color: $celery;

$footer-fg-color: #eeeeee;
$footer-bg-color: #648c46;

.button {
  background-color: $siam;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 10px;
  text-decoration: none;
}

.button:hover {
  filter: brightness(120%);
}

.button:focus {
  filter: brightness(80%);
}

.button:disabled {
  cursor: default;
  filter: brightness(60%);
}

.footer {
  background-color: $footer-bg-color;
  color: $footer-fg-color;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
  padding: 10px 5px 10px 5px;
}

.footer__locales-selection {
  text-align: center;
}

.footer__copyright {
  color: $footer-fg-color;
  text-align: center;
}

.header {
  background-color: $header-bg-color;
  color: $header-fg-color;
  padding: 10px;
}

.header__title {
  color: $header-fg-color;
  font-size: 1.1em;
  margin: 0;
  text-align: center;
}

.header__subtitle {
  color: $header-fg-color;
  font-style: italic;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.join-panel {
  background-color: #84ab4a;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.join-panel__invite-url {
  font-weight: bold;
}

.join-panel__invite-code {
  font-weight: bold;
}

.locale-selection__button {
  margin-left: 3px;
  margin-right: 3px;
}

.player-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.player-list-container__empty {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.player-list-container__headline {
  margin-bottom: 0;
}

.player-list-container__list {
  margin-top: 5px;
}

.player-list-container__points-explanation {
  font-style: italic;
  margin: 0;
}

.player-list-element {
  background-color: #bde552;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto min-content min-content min-content min-content;
  grid-column-gap: 5px;
  list-style: none;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 5px;
}

.player-list-element__players-answer {
  height: 1em;
}

.player-list-element__player-has-answered {
  height: 1em;
}

.player-list-element__player-name--is-current-user {
  font-weight: bold;
}

.player-list-element__player-wants-to-skip {
  height: 1em;
}

.player-list-element__points-or-watching {
  grid-column: 5 / span 1;
  white-space: nowrap;
}

.player-name-headline {
  margin: 0 0 10px;
  text-align: center;
}

.player-type-and-exit {
  margin: 0;
  text-align: center;
}

.player-type-and-exit__exit-game-link {
  padding: 4px;
}

.player-type-and-exit__player-type {
  font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* > > > > > > > > > > > > >     RESPONSIVE CSS     < < < < < < < < < < < < < */
/* > > > > > > >  Extra small devices (phones, 600px and down)  < < < < < < < */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 600px) {
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* > > > > > > > > > > > > >     RESPONSIVE CSS     < < < < < < < < < < < < < */
/* > > > Small devices (portrait tablets and large phones, 600px and up)  < < */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 600px) {
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* > > > > > > > > > > > > >     RESPONSIVE CSS     < < < < < < < < < < < < < */
/* > > > > > > Medium devices (landscape tablets, 768px and up) < < < < < < < */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 768px) {
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* > > > > > > > > > > > > >     RESPONSIVE CSS     < < < < < < < < < < < < < */
/* > > > > > > > Large devices (laptops/desktops, 992px and up) < < < < < < < */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 992px) {
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* > > > > > > > > > > > > >     RESPONSIVE CSS     < < < < < < < < < < < < < */
/* > >  Extra large devices (large laptops and desktops, 1200px and up)   < < */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 1200px) {
}
